.container-nosotros{
    margin:60px;
    font-family: Quicksand;
    color: rgb(233,238,244);
}

.container-pregunta{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-text{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .background-nosotros{
    background: rgb(50,103,137);
background: linear-gradient(0deg, rgba(50,103,137,1) 0%, rgba(120,166,200,1) 100%);
} */

