.container-services {
    /* width: 100vw;
    height: 30vh;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 300px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1% 40px;
    align-items: center;
    margin-bottom: 250px;
    margin-top: 250px;
    align-content: center;
}

.service {
   width:200px;
   display: block;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-left: auto;
  margin-right: auto;
     
}

#icon {
    color: white;
    margin-top: 30%;
    margin-left: 8%;
    font-size: 40px;
    height:100px;
    width: 100px;
    border-radius: 50%;
    background-color: #326789;
    justify-content: center;
    align-content: center;
    align-self: center ;
    text-align: center;
    line-height: 90px;
}


.text {
    margin-top: 30px;
    overflow: visible;
    margin-left: 10px;
}
