.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#about .container {
    position: relative;
    z-index: 10;
}

@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 992px){
    .container {
        max-width: 960px;
    }
}

@media (min-width: 768px){
    .container {
        max-width: 720px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

@media (min-width: 768px) {
    .columnas {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

.columnas{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

#about .about-col .img {
    position: relative;
}

#about .about-col {
    width: 90%;
    background: linear-gradient(0deg,#164ca9,#43126e 100%,#00d4ff 0);
    border-radius: 15px;
    box-shadow: 0 2px 12px rgb(0 0 0 / 8%);
    margin: 0 auto 20px;
    text-align: center;
    padding: 35px 0 15px;
}



#about .about-col h2 {
    color: #fff;
    text-align: center;
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
    padding: 0;
    margin: 20px 0 12px;
    text-decoration: none;
}

#about .about-col p {
    font-size: 13px;
    line-height: 28px;
    font-weight: 500;
    color: #fff;
    padding: 0 20px 20px;
    text-transform: uppercase;
    display: block;
    width: 80%;
    margin: 0 auto;
    height: 150px;
}

#about .about-col .icono {
    transition: .3s;
}

#about .about-col i {
    font-size: 36px;
    line-height: 1;
    color: #fff;
    transition: .3s;
}

#about .about-bg1, #about .about-bg2 {
    background-repeat: no-repeat;
    background-size: cover;
}

#about .about-bg1 {
    background: rgb(50,103,137);
background: linear-gradient(0deg, rgba(50,103,137,1) 0%, rgba(120,166,200,1) 100%);
}

#about .about-col {
    transition: all .3s;
}

.ion-chevron-down:before {
    content: \f123;
}
#about .about-col:hover {
    transform: scale(1.15);
}


.section-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px;
    text-shadow: 2px 2px 4px #08080856;
}

element.style {
    visibility: visible;
    animation-name: fadeInUp;
    text-decoration: none;
}

.img-logo{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 200px;
}


