body {
  margin: 0;
  font-family: 'YuGothL' -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Arial', 'Quicksand',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "YuGothL"; 
  src: local("YuGothL"),
    url("./fonts/YuGothL.ttc") format("truetype");
}


h1{
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  position: relative;
  padding-bottom: 2.188rem;
  letter-spacing:0.375rem;
  font-family: YuGothL;
  text-shadow: 2px 2px 4px #08080856;
}

h3{
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  position: relative;
  padding-bottom: 2.188rem;
  letter-spacing: 0.375rem;
  font-family: YuGothL;
}





