.main-soluciones {
  margin-top: 8rem;
}

.text-soluciones {
  margin: 3.75rem;
  font-family: YuGothL;
  color: black;
  font-weight: bolder;
  position: relative;
  letter-spacing: 0.031rem;
}

.header-soluciones {
  margin-top: 6.25rem;
}

.text-overlaySoluciones {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0 !important;
  right: 0 !important;
  top: 40% !important;
  text-align: center !important;
  width: 60%;
  color: white;
  font-size: 1.75rem;
  font-weight: 500;
  letter-spacing: 1.25rem;
  text-transform: uppercase;
}
.description-paragraph {
  font-size: 1.28rem;
  font-weight: 900;
  line-height: 1.688rem;
  font-family: YuGothL;
}
.column-ul {
  column-count: 2;
  column-gap: 6.25rem;
  column-rule-style: solid;
  column-rule-width: 0.063rem;
  column-rule-color: rgba(15, 65, 162, 1);
  list-style: none;
  align-content: center;
  margin-right: 2rem;
}

.column-ul > li {
  position: relative;
  display: inline-block;
  margin: 0.625rem;
  letter-spacing: 0.25rem;
  font-weight: bold;
  font-family: YuGothL, sans-serif;
}
@media (max-width: 768px) {
  .text-overlaySoluciones {
    font-size: 1.125rem;
    font-weight: 500;
    display: table;
    width: 60%;
    margin: 0 auto;
    letter-spacing: 0.625rem;
    text-align: center;
  }
  .column-ul {
    column-count: 1;
    align-items: center;
    list-style: none;
  }
  .carousel-imagenes {
    height: 25vh;
  }
}

#soluciones {
  background: url("../../assets/soluciones-background2.jpg") fixed no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  height: 100%;
}

.carousel-control-prev-icon::after {
  display: none !important;
}
.carousel-control-next-icon::after {
  display: none !important;
}
