.header{
    margin:60px ;
    font-size:large;
    font-family: monospace;
}

.nosotros{
    margin:60px;
    font-family: monospace;
}
.texto{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.mas{
    margin: 60px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #326789;
}