.hidden{
    margin:3.75rem ;
    font-size:1.25rem;
    font-family: YuGothL;
    font-weight:700;
    letter-spacing: 0.25rem;
    opacity: 0;
    -webkit-filter:blur(5px);
    filter: blur(5px);
    transform: translateX(-100%);
    transition:all 2s;
}
.show{
    opacity: 1;
    -webkit-filter:blur(0);
    filter: blur(0);
    transform: translateX(0);
}
@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}
.nosotros{
    margin:3.75rem;
    font-family: YuGothL;
    margin-bottom: 6.25rem;
    font-size: large;
    font-weight:500;
}

.link{
    display: flex;
    justify-content: center;
    align-content: center;
    text-decoration: none;
}

@media only screen and (max-width: 451px) {
    .hidden{
        margin:2.25rem ;
        font-size:0.938rem;
        font-family: YuGothL, sans-serif;
        font-weight:700;
        letter-spacing: 0.125rem;
        opacity: 0;
        -webkit-filter:blur(5px);
        filter: blur(5px);
        transform: translateX(-100%);
        transition:all 2s;
    }
    .show{
        opacity: 1;
        -webkit-filter:blur(0);
        filter: blur(0);
        transform: translateX(0);
    }
}