.boton-logout{
        text-transform: uppercase;
        vertical-align: bottom;
        border: 0;
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
        font-weight: 500;
        padding: 0.625rem 1.5rem 0.5rem;
        font-size: .75rem;
        line-height: 1.5;
        background-color: rgba(15,65,162,1);
        border-radius: 0.25rem;
        cursor: pointer;
        color: white;
        font-family: Quicksand;
        margin-bottom: 2%;
        margin: 5rem;        
    }
    
    .boton-logout:hover{
        background-color:red;
        box-shadow: 0px 15px 20px red;
        color: #fff;
        transform: translateY(-7px);
    }
