.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.carousel-fade .carousel-item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block !important;
  opacity: 0;
  z-index: 0;
  transition: transform 0ms ease-in-out, opacity 0.8s ease-out;
}

.carousel-fade .carousel-item.active {
  position: relative;
  z-index: 1;
  opacity: 1;
}

.carousel-multi-item .carousel-item {
  display: inline-block !important;
}

.carousel .carousel-slide-item {
  transition: left 0.5s;
}


.carousel-control-prev-icon::after {
  display: none !important;
}
.carousel-control-next-icon::after {
  display: none !important;
}

.carousel-fade .carousel-item, .carousel-item img  {
  object-fit:cover;
  max-height: 80vh;
}

.img-overlay{
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0 !important;
  right: 0 !important;
  top: 0 !important;
  justify-items: center;
  width: 30%;
}
.text-overlay {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0 !important;
  right: 0 !important;
  top: 75% !important;
  text-align: center !important;
  width: 60% !important;
  color: white;
  font-size: 23px;
  font-weight: 500;
  letter-spacing: 4px;
  text-transform: uppercase;
}

@media only screen and (max-width: 1250px) {
  .img-overlay{
    width: 45% !important;
  }
}

@media only screen and (max-width: 675px) {
  .text-overlay{
    top:70% !important; 
    font-size:smaller
  }
  .img-overlay{
    width: 50% !important;
  }
}
@media only screen and (max-width: 450px) {
  .text-overlay{
    top:65% !important;
    font-size:smaller
  }
  .img-overlay{
    width: 50% !important;
  }
}
@media only screen and (max-width: 388px) {
  .text-overlay{
    /* top:65%; */
    font-size:0.625rem !important;
  }
  .img-overlay{
    width: 40% !important;
  }
}
@media only screen and (max-width: 318px) {
  .text-overlay{
    top:55% !important;
    font-size:0.625rem !important; 
  }
  .img-overlay{
    width: 40% !important;
  }
}


