.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.carousel-fade .carousel-item {
  position: absolute;
  left: 0 !important;
  top: 0 !important;
  width: 100%;
  height: 100%;
  display: block !important;
  opacity: 0;
  z-index: 0;
  transition: transform 0ms ease-in-out, opacity 0.8s ease-out;
}

.carousel-fade .carousel-item.active {
  position: relative;
  z-index: 1;
  opacity: 1;
}

.carousel-multi-item .carousel-item {
  display: inline-block !important;
}

.carousel .carousel-slide-item {
  transition: left 0.5s;
}


.carousel-control-prev-icon::after {
  display: none !important;
}
.carousel-control-next-icon::after {
  display: none !important;
}

.carousel-fade .carousel-item, .carousel-item img  {
  object-fit:cover;
  max-height: 80vh;
}

.box-text{
  position: absolute !important;
  z-index: 999 !important;
  margin: 0 auto !important;
  left: 0 !important;
  right: 0 !important;
  top: 83% !important;
  min-width: 60% !important;
  min-height: 3.4375rem !important;
}

.text-overlay {
  text-align: center !important;
  color: white;
  font-size: 1.438rem;
  font-weight: 900;
  letter-spacing:0.25rem !important;
  font-family: YuGothL;
  text-transform: uppercase;
  height: 3.4375rem !important;
}

.img-overlay{
  position: absolute !important;
  z-index: 999 !important;
  margin: 0 auto !important;
  left: 0 !important;
  right: 0 !important;
  top: 0 !important;
  justify-items: center !important;
  width: 37%;
}


@media only screen and (max-width: 1250px){
  .img-overlay{
    width: 50% !important;
  }
}

@media only screen and (max-width: 675px) {
  .box-text{
    top:70% !important; 
  }
  .text-overlay{
    font-size:large
  }
  .img-overlay{
    width: 50% !important;
  }
}
@media only screen and (max-width: 450px){
  .text-overlay{
    font-size:smaller;
  }
  .box-text{
    top:65% !important;
  }
  .img-overlay{
    width: 50% !important;
  }
}
@media only screen and (max-width: 388px){
  .text-overlay{
    /* top:65%; */
    font-size:0.9rem !important;
  }
  .img-overlay{
    width: 50% !important;
    /* height: 80px; */
  }
}
@media only screen and (max-width: 318px){
  .text-overlay{
    position: relative;
    top:60% !important;
    font-size:0.5rem !important; 
  }
  .img-overlay{
    width: 50% !important;
  }
}


