.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.carousel-fade .carousel-item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block !important;
  opacity: 0;
  z-index: 0;
  transition: transform 0ms ease-in-out, opacity 0.8s ease-out;
}

.carousel-fade .carousel-item.active {
  position: relative;
  z-index: 1;
  opacity: 1;
}

.carousel-multi-item .carousel-item {
  display: inline-block !important;
}

.carousel .carousel-slide-item {
  transition: left 0.5s;
}

/* .carousel-control-prev, .carousel-control-next, .carousel-item-prev, .carousel-item-next {
  z-index: 2;
} */

.carousel-control-prev-icon::after {
  display: none !important;
  /* visibility: hidden !important; */
}
.carousel-control-next-icon::after {
  display: none !important;
  /* visibility: hidden !important; */
}

.carousel-fade .carousel-item, .carousel-item img  {
  object-fit:cover;
  max-height: 80vh;
}
/* .image-overlay{
  display: flex;
  justify-content: center;
  position: absolute;
  margin-right: 500px;
  padding-left: 30rem;
  color:white;
  backdrop-filter: blur(8px) brightness(80%);
} */
/* @media only screen and (min-width: 1101px){
  .image-overlay{
    visibility: visible;
    position: absolute;
    margin-right: 500px;
    padding-left: 30rem;
    color:white;
    backdrop-filter: blur(8px) brightness(80%);
  }
}

@media only screen and (max-width: 1100px) {
  .image-overlay{
    visibility: visible;
    position: absolute;
    margin-right: 50px;
    padding-left: 0rem;
    color:white;
    backdrop-filter: blur(8px) brightness(80%);
    width: 20px;
  }
} */

.img-overlay{
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0 !important;
  justify-items: center;
  width: 30%;
}
.text-overlay {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 75% !important;
  text-align: center;
  width: 60%;
  color: white;
  font-size: 23px;
  font-weight: 500;
  letter-spacing: 4px;
  text-transform: uppercase;
}

@media only screen and (max-width: 675px) {
  .text-overlay{
    top:70% !important; 
    font-size:smaller
  }
  .img-overlay{
    width: 40%;
  }
}
@media only screen and (max-width: 450px) {
  .text-overlay{
    top:65% !important;
    font-size:smaller
  }
  .img-overlay{
    width: 50%;
  }
}
@media only screen and (max-width: 388px) {
  .text-overlay{
    /* top:65%; */
    font-size:0.625rem !important;
  }
  .img-overlay{
    width: 40%;
  }
}
@media only screen and (max-width: 318px) {
  .text-overlay{
    top:55% !important;
    font-size:0.625rem;
  }
  .img-overlay{
    width: 40%;
  }
}


