@media only screen and (min-width: 1101px) {
    .container-contact {
        width: 500px;
        margin: 0 auto;
        margin-bottom: 200px;
        margin-top: 100px;
        background-color: rgb(233,238,244);
        border-radius: 5px;
        border: none;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.404), 0 6px 20px 0 rgba(0, 0, 0, 0.382);
        padding: 15px;
    }

}
@media only screen and (max-width: 1100px) {
    .container-contact {
        width: auto;
        margin: 0 auto;
        margin-bottom: 200px;
        margin-top: 100px;
        background-color: rgb(233,238,244);
        border-radius: 5px;
        border: none;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.404), 0 6px 20px 0 rgba(0, 0, 0, 0.382);
        padding: 15px;
    }
}

/* .container-contact {
    width: 500px;
    margin: 0 auto;
    margin-bottom: 200px;
    margin-top: 100px;
    background-color: rgb(233,238,244);
    border-radius: 5px;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.404), 0 6px 20px 0 rgba(0, 0, 0, 0.382);
    padding: 15px;
} */

.boton{
    text-transform: uppercase;
    vertical-align: bottom;
    border: 0;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
    font-weight: 500;
    padding: 0.625rem 1.5rem 0.5rem;
    font-size: .75rem;
    line-height: 1.5;
    background-color: #326789;
    border-radius: 0.25rem;
    cursor: pointer;
    color: white;
    
}

.container-text{
    text-shadow: 2px 2px 4px #08080856;
}

