/* .divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.boton-login {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  background-color: #326789;
  color:white;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.boton-login:hover {
  background-color: #78A6C8;
  box-shadow: 0px 15px 20px #78A6C8;
  color: #fff;
  transform: translateY(-7px);
}

.password-toggle-icon{
  position:relative;
  top: 8px;
  right: 10px;
  z-index: 1000;
  cursor: pointer;
}

.input-password{
  width: 720px;
} */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
  /* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  } */
/* .container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
} */
/* .card {
  height: 380px;
  width: 350px;
  background-color: #fff;
  position: relative;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  padding: 20px;
} */
.text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
 .text p {
  font-size: 13px;
  color: #bac4d4;
  font-weight: 700;
}
.input-text {
  position: relative;
  margin-top: 30px;
} 

.input-email {
  height: 45px;
  width: 100%;
  border: none;
  border-radius: 9px;
  border: 1px solid #e0e3e9;
  padding: 0 10px;
  padding-left: 30px;
  outline: 0;
  font-size: 13px;
}

.input-password {
  height: 45px;
  width: 100%;
  border: none;
  border-radius: 9px;
  border: 1px solid #e0e3e9;
  padding: 0 10px;
  padding-left: 30px;
  padding-right: 27px;
  outline: 0;
  font-size: 13px;
}

.fa-envelope {
  position: absolute;
  left: 10px;
  cursor: pointer;
  top: 15px;
}
.fa-lock {
  position: absolute;
  left: 12px;
  top: 15px;
  cursor: pointer;
  font-size: 15px;
}
/* .input-text .fa-eye-slash {
  position: absolute;
  right: 10px;
  top: 15px;
  font-size: 15px;
  cursor: pointer;
} */
.eye {
  position: absolute;
  right: 10px;
  top: 15px;
  font-size: 15px;
  cursor: pointer;
}
/* .buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
} */
/* .buttons button {
  height: 45px;
  width: 100%;
  border: none;
  background-color: #267fff;
  border-radius: 9px;
  font-size: 12px;
  outline: 0;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s;
}
.buttons button:hover {
  background-color: #083c87;
}
.forgot {
  margin-top: 30px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.forgot a {
  text-decoration: none;
}
.warning {
  border: 1px solid red !important;
}
.type_password {
  border: 1px solid red !important;
} */
.boton-login {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  background-color: #326789;
  color:white;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.boton-login:hover {
  background-color: #78A6C8;
  box-shadow: 0px 15px 20px #78A6C8;
  color: #fff;
  transform: translateY(-7px);
}