/* .nombreEmpresa{
  display: flex;
  justify-content:right;
  align-items: center;
} */
@media only screen and (min-width: 1101px) {
        .menu{
           display: none !important;
        }
        .container-botones{
            height: auto;
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-content: space-between;
        }
        .log{
            display: inline-block;
            
        }
        .appbar{
          height: 8vh;
          width: auto;
        }
        .logo-largo{
          display: none !important;
        }
        .logo{
          margin-bottom: 0.5rem;
        }
    }
    @media only screen and (max-width: 1100px) and (max-width: 767px){
        .container-botones{
            display: none !important;
        }
        .appbar{
          height: 8vh;
        }
        .logo{
          display: none !important;
        }
       
    }
    @media only screen and (min-width: 767px){
      .menu{
        display: none !important;
     }
      .container-botones{
        height: auto;
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: space-between;
    }
      .appbar{
        height: 8vh;
      }
      .logo-largo{
        display: none !important;
      }
     
  }
    /* Teléfonos */
@media only screen and (max-width: 575px){
  .logo{
    display: none !important;
  }
  .appbar{
    height: 8vh;
  }
  .box{
    width: 100vw;
  }

}
@media only screen and (max-width: 312px){
  .logo{
    display: none !important;
  }
  .appbar{
    height: 8vh;
  }
  .box{
    width: 100vw;
  }
  .logo-largo{
    right: 2rem;
    position: relative;
  }
}

/* prueba */

/* @media only screen and (min-width: 1200px){
  .menu{
    display: none !important;
 }
 .container-botones{
     height: auto;
     width: 100%;
     margin: 0;
     padding: 0;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-content: space-between;
 }
 .log{
     display: inline-block;
     
 }
 .appbar{
   height: 8vh;
 }
 .logo-largo{
   display: none !important;
 }

} */
/* Escritorio grande */
/* @media only screen and (min-width: 992px) and (max-width: 1199px){
  .menu{
    display: none !important;
 }
 .container-botones{
     height: auto;
     width: 100%;
     margin: 0;
     padding: 0;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-content: space-between;
 }
 .log{
     display: inline-block;
     
 }
 .appbar{
   height: 8vh;
 }
 .logo-largo{
   display: none !important;
 }

} */


/* Escritorio pequeño / tablet */
/* @media only screen and (min-width: 768px) and (max-width: 991px){
  .menu{
    display: none !important;
 }
 .container-botones{
     height: auto;
     width: 100%;
     margin: 0;
     padding: 0;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-content: space-between;
 }
 .log{
     display: inline-block;
     
 }
 .appbar{
   height: 8vh;
 }
 .logo-largo{
   display: none !important;
 }

} */

/* Tablets y phablets */
/* @media only screen and (min-width: 576px) and (max-width: 767px){
 .container-botones{
     height: auto;
     width: 100%;
     margin: 0;
     padding: 0;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-content: space-between;
 }
 .log{
     display: inline-block;
     
 }
 .appbar{
   height: 8vh;
 }
 .logo{
   display: none !important;
 }
} */

/* Teléfonos */
/* @media only screen and (max-width: 575px){
  .container-botones{
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
}
.log{
    display: inline-block;
    
}
.appbar{
  height: 8vh;
}
.logo{
  display: none !important;
}

} */
    /* .navbar-logo {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      max-width: 250px;
    } */
  
    /* .navigation {
        height: 60px;
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
        padding: 0.5rem 0rem;
        background-color: #fff;
        color: black;
        box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
      }
      .brand-name {
        text-decoration: none;
        color: black;
        font-size: 1.3rem;
        margin-left: 1rem;
      }
      .navigation-menu {
        margin-left: auto;
      }

      .navigation-menu ul {
        display: flex;
        padding: 0;
      }
      .navigation-menu li {
       
        list-style-type: none;
        margin: 0 1rem;
      }
      .navigation-menu li a {
        
        text-decoration: none;
        display: block;
        width: 100%;
      }

      .hamburger {
        border: 0;
        height: 40px;
        width: 40px;
        padding: 0.5rem;
        border-radius: 50%;
        background-color: #283b8b;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
        position: absolute;
        top: 50%;
        right: 25px;
        transform: translateY(-50%);
        display: none;
      }
      .hamburger:hover {
        background-color: #2642af;
      }

      @media screen and (max-width: 768px) {
        .hamburger {
          display: block;
        }
      }

      @media screen and (max-width: 768px) {
        .navigation-menu ul {
          display: none;
        }
      }

      @media screen and (max-width: 768px) {
        .navigation-menu ul {

          position: absolute;
          top: 60px;
          left: 0;

          flex-direction: column;
   
          width: 100%;
          height: calc(100vh - 77px);
          background-color: white;
          border-top: 1px solid black;
        }
        .navigation-menu li {

          text-align: center;
          margin: 0;
        }
        .navigation-menu li a {
          color: black;

          width: 100%;
          padding: 1.5rem 0;
        }
        .navigation-menu li:hover {
          background-color: #eee;
        }
      }
      @media screen and (max-width: 768px) {
        .navigation-menu ul {
          /* previous styles */
 

 